body{
    text-align: center;
    background-color: aqua;
}
div{
    margin-top:15px;
}
.images{
    display: flex;
    justify-content: center;
}
.image{
margin-right:25px;
margin-left: 25px;
background-color: white
}
.edi1{
    font-family: fantasy;
    color: gold;
    font-size: 14px;
    font-weight: 100;
}
        
    